@font-face {
	font-family: ebgaramond;
	src: url('../fonts/EBGaramond-Regular.ttf');
}

@font-face {
	font-family: temple;
	src: url('../fonts/templehof.woff');
}

@font-face{
	font-family: frank;
	src: url('../fonts/frank-regular-webfont.woff');
}

@font-face{
	font-family: open;
	src: url('../fonts/chunk-webfont.ttf');
}

@font-face{
	font-family: children;
	src: url('../fonts/Alphabet-of-Children-source.ttf');
}

::-webkit-scrollbar {
    display: none;
}

/*HOME PAGE RULES*/

.header-text, .header-text a{
	font-family: frank;
	text-decoration: none;
	color: #333;
	font-size: 46px;

	margin-top: 50px;
	margin-bottom: 20px;
	text-shadow: 0 0 1px #667;
}

.small-text{
	font-size: 45%;
	font-family: ebgaramond;
}

.rotatedFloralHeartBullet:after { 
	content: "\2767"; 
	font-size: 80%;
}

.miniature{ 
	float: left; 
	color: #903; 
	font-size: 85px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: children; 
	color: #333;
	text-shadow: 0 0 1px #667;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.title-text{
	font-family: frank;
	text-decoration: none;
	color: #333;
	margin-top: 50px;
	margin-bottom: 30px;
	text-shadow: 0 0 1px #667;
	/*font-size: 33px;*/
}

p{
	font-family: ebgaramond;
	font-size: 20px;
	line-height: 1.4;
}

p a{
	text-decoration: none;
	color: #333;
	text-shadow: 0 0 1px #667;
}

.bottom-link a{
	text-decoration: none;
	font-family: ebgaramond;
	font-size: 15px;
	color: #333;
}

.quote{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
}