@font-face {
	font-family: ebgaramond;
	src: url('../fonts/EBGaramond-Regular.ttf');
}


@font-face{
	font-family: newyorkercaps;
	src: url('../fonts/frank-regular-webfont.woff');
}

::-webkit-scrollbar {
    display: none;
}

body{
	background-color: #efecdc;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*HOME PAGE RULES*/

.header-text{
	font-family: newyorkercaps;
	text-decoration: none;
	color: #333;
}

.navbar-default{
	font-family: newyorkercaps;
	background: transparent;
	box-shadow: 1px 1px 1px #DBCFCF;
}

/*INDEX*/
.link a{
	font-family: newyorkercaps;
	text-decoration: none;
	color: #333;
}

/*LAYOUT RULES*/

.content-title{
	font-family: newyorkercaps;
	margin-bottom: 30px;
	color: #333;
}

.content-subtitle{
	/*font-family: satisfy, cursive;*/
	font-family: newyorkercaps;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #333;
}

.content-text{
	font-family: ebgaramond, serif;
	font-size: 19px;
	color: #333;
	margin-bottom: 25px;
}

.content-text a{
	font-family: ebgaramond;
	color: #333;
	text-decoration: underline;
}

.content-quote{
	font-family: ebgaramond, serif;
	font-size: 22px;
	color: #333;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 50px;
}

.signature{
	font-family: newyorkercaps;
	margin-bottom: 30px;
	color: #333;
}

.sidebar{
	margin-top: 110px;
	border-top-style: double;
	border-top-width: 1px;
	padding-top: 10px;
	border-bottom-style: double;
	border-bottom-width: 1px;
	padding-bottom: 25px;
	border-color: #333;
}

.sidebar-content-title{
	font-family: newyorkercaps;
	/*font-family: newyorker;*/
	margin-bottom: 5px;
	font-size: 25px;
	/*color: #FFFFFF;*/
	color: #333;
	/*text-shadow: 1px 1px 1px #555555;*/
}

.sidebar-content-text, .sidebar-content-text a{
	font-family: ebgaramond, serif;
	/*font-family: newyorker;*/
	font-size: 15px;
	/*color: #FFFFFF;*/
	color: #333;
	/*text-shadow: 1px 1px 1px #555555;*/
}

footer{
	position: bottom;
}