      </div>

      <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      	<div class="container-fluid">

      		<!-- Collect the nav links, forms, and other content for toggling -->
      		<div>
      			<ul class="nav navbar-nav navbar-right">
      				<li><a href=""> &copy; 2014 </a></li>
      			</ul>
      		</div><!-- /.navbar-collapse -->
      	</div><!-- /.container-fluid -->
      </nav>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/js/bootstrap.min.js"></script>
    </body>
    </html>