<!DOCTYPE html>
<html lang="en">
	{% include header.html %}

    <body>

    	<div class="container">
    		<div class="col-md-7 center">

    			<!-- include banner -->
	    		{% include banner.html %}

	    		{{ content }}

	    		<!-- bottom links -->
	    		<hr>
	    		<ul class="list-inline text-center">    			
		    		{% for post in site.posts %}
						<li class="bottom-link"><a href="{{post.url}}">{{post.title}}</a></li>
					{% endfor %}
	    		</ul>
                <div class="text-center">
                    <span class="rotatedFloralHeartBullet"></span> 
                    <span class="rotatedFloralHeartBullet"></span> 
                    <span class="rotatedFloralHeartBullet"></span> 
                </div>
                <ul class="list-inline text-center">                
                    {% for page in site.pages %}
                        <li class="bottom-link"><a href="{{page.url}}">{{page.title}}</a></li>
                    {% endfor %}
                </ul>

                <img class="img-responsive center hero-image" src="/img/typewriter.png">
                <h2 class="text-center title-text">
                    <small class="small-text">
                        &copy; {{ site.time | date: '%Y' }} William Saint George
                    </small>
                </h2>
    		</div>
    	</div>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- // <script src="/js/jquery.min.js"></script> -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- // <script src="/js/bootstrap.min.js"></script> -->

        <!-- GA tracking code -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-51691443-2', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>