---
layout: default
---

<div class="col-md-8">
  {{ content }}
</div>

<div class="col-md-4 sidebar text-center">
  {% for post in site.posts limit: 10 %}
  	{% if post.blog %}
    	<h2 class="sidebar-content-title">{{ post.title }}</h2>
    	<p class="sidebar-content-text">
    		{{ post.date | date_to_long_string }} | <a href="{{ post.url }}"> read this post</a>
    	</p>
    {% endif %}
  {% endfor %}

  <!-- link to archive page -->
  <p class="sidebar-content-text"><a href="/archive">view complete archive</a></p>
</div>