---
layout: default
---

<div class="col-md-8">
  {{ content }}
</div>

<div class="col-md-4 sidebar text-center">
  {% for post in site.tags.blog limit: 5 %}
    	<h2 class="sidebar-content-title">{{ post.title }}</h2>
    	<p class="sidebar-content-text">
    		{{ post.date | date_to_long_string }} | <a href="{{ post.url }}"> read this post</a>
    	</p>
  {% endfor %}

  <!-- link to archive page -->
  <p class="sidebar-content-text strong"><a href="/archive">~ view complete archive ~</a></p>
</div>